body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #e9c881;
  margin: 0;
  padding: 0;
  color: #333;
}

.navbar-brand {
  font-family: "Staatliches";
  color: #e9c881;
  font-size: 2rem;
  margin-left: 10px;
}

.nav-item {
  font-family: 'barlow condensed'; 
  font-size: 1.2rem;
  margin-right: 10px;
}

header {
  background-color: #e9c881;
  padding: 20px;
  text-align: center;
}

.container {
  margin-top: 50px;
  max-width: 800px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.container p {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.openbtn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.openbtn:hover {
  background-color: #d8b76e;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #e9c881;
  border: none;
}

.btn-primary:hover {
  background-color: #d8b76e;
}

.contact-info {
  text-align: center;
  margin-top: 30px;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

#form-status {
  margin-top: 20px;
}

#form-status p {
  font-size: 2rem;
}


footer {
  background-color: #000000;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer a {
  font-family: "Pridi";
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.footer a:hover {
  color: rgb(141, 141, 141);
}
.footer p {
  font-family: 'barlow condensed';
    margin: 0;
}